@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&display=swap&subset=cyrillic");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

.main {
  background: url("../img/color-line.svg");
  padding-top: 10px;
  min-width: 150px; }

header {
  background: white; }

.text-red {
  color: #e86a46; }

.home {
  border-bottom: 5px solid #e86a46; }

.about_us {
  border-bottom: 5px solid #f2a34d; }

.navbar {
  align-items: flex-end;
  padding: 0; }
  .navbar .navbar-brand {
    margin-left: .5rem; }
  .navbar .navbar-toggler {
    border-color: white;
    background: #e86a46;
    margin-right: .5rem; }
    .navbar .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-nav {
  align-items: flex-end; }
  .navbar-nav #active {
    color: white; }
    .navbar-nav #active a {
      padding-top: 20px; }
  .navbar-nav .nav-item {
    margin-left: 3px;
    width: 120px; }
    .navbar-nav .nav-item .nav-link {
      color: white;
      font-weight: bold;
      padding-top: 13px;
      padding-bottom: 13px;
      border-radius: 5px 5px 0 0;
      text-align: center;
      position: relative;
      display: block; }
    .navbar-nav .nav-item .nav-link:hover {
      color: white;
      padding-top: 20px;
      transition: all 0.3s ease-out; }

.navbar-nav li:nth-child(1) a {
  background: #e86a46; }

.navbar-nav li:nth-child(2) a {
  background: #f2a34d; }

.navbar-nav li:nth-child(3) a {
  background: #f8dd98; }

.navbar-nav li:nth-child(4) a {
  background: #dcd75f; }

.navbar-nav li:nth-child(5) a {
  background: #65a754; }

.navbar-nav li:nth-child(6) a {
  background: #47c2d1; }

.small__banner {
  background: url("../img/banner__bg.jpg") center top;
  height: 13vh; }

.img-thumbnail {
  background-color: #e5e3be; }

.slider__wrap .container-fluid {
  padding: 0; }
  .slider__wrap .container-fluid .carousel-control-next:hover {
    opacity: .7; }
  .slider__wrap .container-fluid .carousel-control-prev:hover {
    opacity: .7; }
  .slider__wrap .container-fluid .carousel-control-next-icon {
    width: 35px;
    height: 35px;
    background: url("../img/next.svg") 0 0 no-repeat; }
  .slider__wrap .container-fluid .carousel-control-next-icon:hover {
    background: url("../img/next.svg") 0 35px; }
  .slider__wrap .container-fluid .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
    background: url("../img/prev.svg") 0 0 no-repeat; }
  .slider__wrap .container-fluid .carousel-control-prev-icon:hover {
    background: url("../img/prev.svg") 0 35px; }

.banner__wrap {
  background: url(../img/banner__bg.jpg) center top repeat; }
  .banner__wrap .row {
    margin-right: 20px;
    margin-left: 20px; }

.banner__iner {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  flex-wrap: wrap;
  flex-grow: 1; }
  .banner__iner .figure {
    margin: 0;
    margin-bottom: -30px; }
    .banner__iner .figure img {
      border: 10px solid #f7f5e2; }
  .banner__iner .figure-caption {
    background: url("../img/banner__bg-white.svg") center top no-repeat;
    padding: 80px 25px 0px 25px;
    text-align: center;
    flex-basis: 250px; }
    .banner__iner .figure-caption a {
      color: #48443e; }
    .banner__iner .figure-caption .caption-header {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 2rem;
      color: #3ab7cd; }

.banner__iner:hover a {
  text-decoration: none; }
.banner__iner:hover img {
  border-color: #e86a46; }
.banner__iner:hover .caption-header {
  color: #e86a46; }

.info__wrap {
  background: #f7f5e2; }
  .info__wrap .info-header {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1rem; }
  .info__wrap .info-text {
    font-size: 1rem;
    color: #4b3e33; }
  .info__wrap .info-text__highlight {
    font-size: 1rem;
    font-weight: 700; }
  .info__wrap .info-link-red {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #a3a28b; }
    .info__wrap .info-link-red:hover {
      color: #e66939;
      text-decoration: none;
      transition: all 0.3s; }
  .info__wrap .cta {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .info__wrap .cta .info-cta {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 4rem;
      color: #f19d3d; }
    .info__wrap .cta .text-cta {
      width: 70%;
      font-weight: bold;
      color: #48443e; }
  .info__wrap .info-plan {
    padding: 10px;
    text-align: justify; }
    .info__wrap .info-plan h3 {
      text-align: center; }
    .info__wrap .info-plan .plan-header {
      font-size: 1.5rem;
      padding: 0.6rem 0;
      font-weight: bold; }
  .info__wrap .info-plan-red {
    border-top: 6px solid #e66939; }
    .info__wrap .info-plan-red .plan-red {
      color: #e66939; }
    .info__wrap .info-plan-red .list-item {
      margin-bottom: 7px; }
      .info__wrap .info-plan-red .list-item .badge {
        font-size: 1rem;
        background: #e66939;
        margin-right: 6px; }
  .info__wrap .info-plan-green {
    border-top: 6px solid #65a754; }
    .info__wrap .info-plan-green .plan-green {
      color: #65a754; }
    .info__wrap .info-plan-green .list-item {
      margin-bottom: 7px; }
      .info__wrap .info-plan-green .list-item .badge {
        font-size: 1rem;
        background: #65a754;
        margin-right: 6px; }
  .info__wrap .info-plan-blue {
    border-top: 6px solid #47c4d1; }
    .info__wrap .info-plan-blue .plan-blue {
      color: #47c4d1; }
    .info__wrap .info-plan-blue .list-item {
      margin-bottom: 7px; }
      .info__wrap .info-plan-blue .list-item .badge {
        font-size: 1rem;
        background: #47c4d1;
        margin-right: 6px; }
  .info__wrap .plan-red-footer {
    border-top: 6px solid #e66939; }
  .info__wrap .plan-green-footer {
    border-top: 6px solid #65a754; }
  .info__wrap .plan-blue-footer {
    border-top: 6px solid #47c4d1; }
  .info__wrap .plan-footer {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center; }
    .info__wrap .plan-footer .plan-link {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #a3a28b; }
    .info__wrap .plan-footer .plan-red-link:hover {
      color: #e66939;
      text-decoration: none;
      transition: all 0.3s; }
    .info__wrap .plan-footer .plan-green-link:hover {
      color: #65a754;
      text-decoration: none;
      transition: all 0.3s; }
    .info__wrap .plan-footer .plan-blue-link:hover {
      color: #47c4d1;
      text-decoration: none;
      transition: all 0.3s; }
  .info__wrap .border-top-none {
    border-top: none; }
  .info__wrap .underline {
    border-bottom: 1px solid #e6e4c3;
    padding-top: 14px;
    padding-bottom: 14px; }

.blue-circle {
  border-radius: 50%;
  background: #47c4d1; }

.footer {
  border-top: 5px solid #eadb6c; }
  .footer .row-copy {
    background: #f19d3d; }
    .footer .row-copy .copy {
      color: white; }

.footer a, .footer-info {
  display: block;
  width: 70%; }
  .footer a img, .footer-info img {
    width: 100%; }

@media (max-width: 960px) {
  .navbar-nav .nav-item {
    width: 90px; }

  .banner__iner .figure-caption {
    flex-basis: 300px; } }
@media (max-width: 767px) {
  .navbar {
    align-items: center; }

  .navbar-nav .nav-item {
    width: 100%; }
    .navbar-nav .nav-item .nav-link {
      border-radius: 0; }
    .navbar-nav .nav-item .nav-link:hover {
      color: white;
      padding-top: 13px; }
  .navbar-nav .nav-item:nth-child(1) a:hover {
    background: #dcd75f; }
  .navbar-nav .nav-item:nth-child(2) a:hover {
    background: #65a754; }
  .navbar-nav .nav-item:nth-child(3) a:hover {
    background: #47c2d1; }
  .navbar-nav .nav-item:nth-child(4) a:hover {
    background: #e86a46; }
  .navbar-nav .nav-item:nth-child(5) a:hover {
    background: #f2a34d; }
  .navbar-nav .nav-item:nth-child(6) a:hover {
    background: #f8dd98; }

  .banner__iner {
    align-items: stretch; }
    .banner__iner .figure {
      align-self: center; }
    .banner__iner .figure-caption {
      flex-basis: auto; }

  .info__wrap .cta .info-cta {
    font-size: 2rem; }
  .info__wrap .cta .text-cta {
    width: 100%; } }

/*# sourceMappingURL=all.css.map */
