.slider__wrap .container-fluid{
    padding:0;
    .carousel-control-next:hover {
        opacity: .7;
    }
    .carousel-control-prev:hover {
        opacity: .7;
    }
    .carousel-control-next-icon {
        width: 35px;
        height: 35px;
        background: url('../img/next.svg') 0 0 no-repeat;
    }
    .carousel-control-next-icon:hover {
        background: url('../img/next.svg') 0 35px;
    }
    .carousel-control-prev-icon {
        width: 35px;
        height: 35px;
        background: url('../img/prev.svg') 0 0 no-repeat;
    }
    .carousel-control-prev-icon:hover {
        background: url('../img/prev.svg') 0 35px;
    }
}